---
import PageLayout from '@/layouts/CommonPage.astro'
import links from 'public/links.json'

import FriendList from '@/components/links/FriendList.astro'
import Comment from '@/components/pages/Comment.astro'
import { Collapse, Timeline } from '@/components/user'
import { siteConfig } from '@/site-config'

const headings = [
  {
    depth: 2,
    slug: 'common-links',
    text: 'Common Links'
  },
  {
    depth: 2,
    slug: 'special-links',
    text: 'Special Links'
  },
  {
    depth: 2,
    slug: 'small-circle',
    text: 'Small Circle'
  },
  {
    depth: 2,
    slug: 'apply-links',
    text: 'Apply Links'
  }
]

const friendlist = links.friends
---

<PageLayout title='Links' headings={headings} info='/links'>
  <p>怎么可能有顺序呢，当然是随机的~</p>
  <h2 id='common-links'>Common Links</h2>
  <FriendList list={friendlist[0]} />
  <Collapse title='Links with Bad Status'>
    <FriendList list={friendlist[1]} />
  </Collapse>
  <Collapse title='Link History Book'>
    <Timeline
      events={[
        { date: '2024-07-01', content: 'Lorem ipsum dolor sit amet.' },
        { date: '2024-07-01', content: 'vidit suscipit at mei.' },
        { date: '2024-07-01', content: 'Quem denique mea id.' }
      ]}
    />
  </Collapse>
  <FriendList list={friendlist[2]} title='Special Links' />

  <!-- apply-links -->
  <h2 id='apply-links'>Apply Links</h2>
  <p>本站信息如下：</p>
  <blockquote class='not-prose break-words border-s-4 ps-4'>
    <p>名称：<code>{siteConfig.links.applyTip.name}</code></p>
    <p>简介：<code>{siteConfig.links.applyTip.desc}</code></p>
    <p>链接：<code>{siteConfig.links.applyTip.url}</code></p>
    <p>图标：<code>{siteConfig.links.applyTip.avatar}</code></p>
  </blockquote>

  <p>
    申请时还请按照这个模板留言（<a
      href='https://github.com/cworld1/astro-theme-pure/blob/main/public/links.json'
      target='_blank'>提交 PR</a
    > 或许也是个更快的办法）。此外有关申请说明：
  </p>
  <ul>
    <li>在你的友链上添加了本站；</li>
    <li>请确保你的站点活着；</li>
    <li>博客内容不违反国家法律。</li>
  </ul>
  <Comment slot='bottom' />
</PageLayout>
